<div id="donate-popup" class="popup">
    <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Support Bluepump</h2>
        <p>
            Help us achieve our goal by making a donation today! Your support will go a long way in helping us change the world.
            <a href="/learn_more" id="learn-more-link" onclick="trackUserAction(sessionVisitorId, 'learn_more')">Learn more about how we use your funds to change the world.</a>
        </p>
        <button id="donate-button" class="donate-btn" onclick="trackUserAction(sessionVisitorId, 'donate')">Donate Now</button>
        <p class="not-now" onclick="trackUserAction(sessionVisitorId, 'not_now')">Not now</p>
    </div>
</div>